@page "/"
@using CleanArchitectureTest.Client.Features.Todos
@using CleanArchitectureTest.Contracts.Entities



<PageTitle>Home</PageTitle>

<h1>Platform: @(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</h1>

<TodoList />